[data-theme="dark"] {
  background-color: #363636 !important;
  color: #909090;
}

[data-theme="dark"] .sidebar{
  background: #222222;
}
[data-theme="dark"] .home-section{
  background: #363636;
}
[data-theme="dark"] .home-section .home-content .title{
  color: #e8e8e8;
}
[data-theme="dark"] .home-section .home-content .text{
  color: #e8e8e8;
}

[data-theme="dark"] .sidebar .nav-links li:hover{
  background: #454545;
}
[data-theme="dark"] .sidebar .nav-links li .sub-menu{
  background: #454545;
}

[data-theme="dark"] .sidebar .profile-details{
  background: #2e2e2e;
}
[data-theme="dark"] .sidebar .profile-details img{
  background: #2e2e2e;
}
[data-theme="dark"] ::-moz-selection {
      color: white;
      background: #00647C;
      opacity: 0.1;
}

[data-theme="dark"] ::selection {
      color: white;
      background: #00647C;
      opacity: 0.1;
}

[data-theme="dark"] #toast {
    visibility: hidden;
    max-width: 75px;
    height: 75px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #222222;
    color: #fff;
    text-align: center;
    border-radius: 500px;

    position: fixed;
    z-index: 100000000000000;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

[data-theme="dark"] #toast #img{

	width: 75px;
	height: 75px;
    
    float: left;
    
    padding-top: 10px;
    padding-bottom: 16px;
    
    box-sizing: border-box;
    border-radius: 50px;
    
    background-color: #111;
}

[data-theme="dark"] #toast #desc{
    
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

[data-theme="dark"] #toast.show {
    visibility: visible;
    -webkit-animation: darkfadein 0.5s, darkexpand 0.5s 0.5s,darkstay 3s 1s, darkshrink 0.5s 2s, darkfadeout 0.5s 2.5s;
    animation: darkfadein 0.5s, darkexpand 0.5s 0.5s,darkstay 3s 1s, darkshrink 0.5s 4s, darkfadeout 0.5s 4.5s;
}

@-webkit-keyframes darkfadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes darkfadein {
    from {bottom: 0; opacity: 0;color: #00000001;}
    to {bottom: 30px; opacity: 1;color: #00000001;}
}

@-webkit-keyframes darkexpand {
    from {min-width: 50px;color: #00000001;} 
    to {min-width: 350px;color: #00000001;}
}

@keyframes darkexpand {
    from {min-width: 50px;color: #00000001;}
    to {min-width: 350px;color: #ffffff;}
}
@-webkit-keyframes darkstay {
    from {min-width: 350px;color: #ffffff;} 
    to {min-width: 350px;color: #ffffff;}
}

@keyframes darkstay {
    from {min-width: 350px;color: #ffffff;}
    to {min-width: 350px;color: #ffffff;}
}
@-webkit-keyframes darkshrink {
    from {min-width: 350px;color: #ffffff;} 
    to {min-width: 50px;color: #00000001;}
}

@keyframes darkshrink {
    from {min-width: 350px;color: #00000001;} 
    to {min-width: 50px;color: #00000001;}
}

@-webkit-keyframes darkfadeout {
    from {bottom: 30px; opacity: 1;color: #00000001;} 
    to {bottom: 60px; opacity: 0;color: #00000001;}
}

@keyframes darkfadeout {
    from {bottom: 30px; opacity: 1;color: #00000001;}
    to {bottom: 60px; opacity: 0;color: #00000001;}
}
